msgpack
mosec
torch --extra-index-url https://download.pytorch.org/whl/cu116
diffusers[torch]
# Ref https://github.com/huggingface/transformers/issues/22222
transformers @ git+https://github.com/zphang/transformers.git@68d640f7c368bcaaaecfc678f11908ebbd3d6176
sentencepiece
cpm_kernels
accelerate
llmspec
falcon
uvicorn
